@model Task<GECP.Models.Pages.DepartmentPageModel>

@{
    ViewBag.Title = "Civil";
}
<div class="page_title3">
    <div class="container">

        <h1>
            Civil <em>Government Engineering College</em>

        </h1>
        <div class="line"></div>
    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">

    <div class="container">

        <div class="one_half">

            <div id="owl-demo2" class="owl-carousel">

                <div><img src="@Model.Result.DepartmentModel.image" alt="" class="rimg"></div>

                @*<div><img src="~/images/college_gate.jpg" alt="" class="rimg"></div>

                    <div><img src="~/images/convocation.jpg" alt="" class="rimg"></div>*@

            </div>

        </div>
        <!-- end section -->

        <div class="one_half last">

            <div class="stcode_title5">
                <h3 class="nmb"><strong>@Model.Result.DepartmentModel.name</strong></h3>
            </div>

            @*<h5 class="gray">Will cover many web sites still in their infancy various versions have evo packages over the years.</h5>*@

            <p>
                @Model.Result.DepartmentModel.about
            </p>

            <div class="clearfix marb12"></div>

        </div>
        <!-- end section -->

    </div>
    <!-- end all sections -->


    <div class="parallax_section12">
        <div class="container">

            <div class="counters7 animate" data-anim-type="fadeIn" data-anim-delay="300">

                <div class="one_fifth">
                    <i class="fa fa-user"></i> <span>@Model.Result.DepartmentModel.Intake</span>
                    <h4>Total Intake</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-users"></i> <span id="target22">0</span>
                    <h4>Faculties Member</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-book"></i> <span>@Model.Result.DepartmentModel.TotalSubject</span>
                    <h4>Total Subects</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth">
                    <i class="fa fa-paper-plane"></i> <span id="target24">0</span>
                    <h4>Annual Placement</h4>
                </div>
                <!-- end section -->

                <div class="one_fifth last">
                    <i class="fa fa-building"></i> <span id="target5">0</span>
                    <h4>Labs And Workshops</h4>
                </div>
                <!-- end section -->


            </div>


        </div>
    </div>
    <!-- end parallax section 12 -->
    <div class="featured_section14">
        <div class="container">

            <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

                <img src="~/images/icon-img13.png" alt="" />
                <br /><br />
                <h3 class="white">Vision</h3>

                <p>@Model.Result.VissionMissionModel.Vision</p>
                <br /><br />


            </div>
            <!-- end section -->

            <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

                <img src="~/images/icon-img12.png" alt="" />
                <br /><br />
                <h3 class="white">Mission</h3>

                <p>@Model.Result.VissionMissionModel.Mission</p>
                <br /><br />


            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="featured_section3 two">
        <div class="container">

            <div class="onecol_forty"><img src=@Model.Result.MsgCmtModel.Image alt="" class="rimg animate" data-anim-type="fadeInLeft" data-anim-delay="300" /></div>

            <div class="onecol_sixty last animate" data-anim-type="fadeInRight" data-anim-delay="300">
                <!-- <span><em>HOD Message</em>
            <b>Start Creating a Whole Great</b> -->
                <span> <strong class="color3">@Model.Result.MsgCmtModel.Title</strong></span>
                <p class="bigtfont">
                    @Model.Result.MsgCmtModel.Message
                </p>

                <br /><br /><br />


            </div>

        </div>

    </div>
    <!-- end featured section 3 -->

    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">

                    @foreach (var item in Model.Result.FacultyDetailsModel)
                    {

                        <div class="sl-div two">

                            <div class="cirpimg"><img src=@item.profileImage alt="" /></div>
                            <h4 class="roboto">@item.name<em></em></h4>
                            <h4 class="roboto">@item.designation<em></em></h4>
                            <br />
                            <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i></a>

                        </div>

                    }

                    <!--<div class="sl-div two">

                        <div class="cirpimg"><img src="~/images/peop-img30.jpg" alt="" /></div>
                        <h4 class="roboto">Steve Johnsondeo <em></em></h4>
                        <h4 class="roboto">HEAD OF DEPARTMENT <em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>-->
                    <!-- end section -->

                    <!--<div class="sl-div two">

                        <div class="cirpimg"><img src="~/images/peop-img31.jpg" alt="" /></div>
                        <h4 class="roboto">Steve Johnsondeo <em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>-->
                    <!-- end section -->

                    <!--<div class="sl-div two">

                        <div class="cirpimg"><img src="~/images/peop-img29.jpg" alt="" /></div>
                        <h4 class="roboto">Steve Johnsondeo <em></em></h4>
                        <h4 class="roboto">Assisant Professor <em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>-->
                    <!-- end section -->

                    <!--<div class="sl-div two">

                        <div class="cirpimg"><img src="~/images/peop-img32.jpg" alt="" /></div>
                        <h4 class="roboto">Steve Johnsondeo <em></em></h4>
                        <h4 class="roboto">Assisant Professor<em></em></h4>
                        <br />
                        <a href="cse_faculty.html" class="but_calendar"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Read more</a>

                    </div>-->
                    <!-- end section -->

                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end slider section -->
    <!-- end parallax section 10 -->
    <div class="margin_top2"></div>
    <div class="works01">
        <div class="container">

            <div id="filters-container" class="cbp-l-filters-button">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".identity" class="cbp-filter-item">
                    Seminars Hall
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                    Lab
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".graphic" class="cbp-filter-item">
                    Workshops
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".logos" class="cbp-filter-item">
                    Department
                    <div class="cbp-filter-counter"></div>
                </div>
            </div>


            <div id="grid-container" class="cbp-l-grid-fullWidth">

                <div class="cbp-item identity logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img1.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Model as Structures</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Model as Structures <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img2.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Looking Publishing</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Looking Publishing <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Webpage as Packages</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Webpage as Packages <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img4.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Software Versions</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Versions <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img5.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Printer took Galley</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Printer took Galley <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Popularise Release</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Popularise Release <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item logos web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Classical Through</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Classical Through <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

                <div class="cbp-item">
                    <div class="cbp-caption graphic">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/images/media/works-img8.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>Alteration Words</h4>
                                    <a href="portfolio-1.html" class="cbp-l-caption-buttonLeft">more info</a>
                                    <a href="~/images/media/works-img8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Alteration Words <br>reasonable always">view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end item -->

            </div>

            <!--<div class="cbp-l-loadMore-text">
                <div data-href="ajax/loadMore.html" class="cbp-l-loadMore-text-link">LOADING...</div>
            </div>-->


        </div>
    </div>
    <!-- end works section -->


    <div class="clearfix margin_top2"></div>

    <div class="featured_section38">
        <div class="container">

            <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“The road to sucess is always under...<b>construction .” ...</b></h1>


        </div>
    </div>




    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->



</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
@section scripts{


    <script type="text/javascript" src="~/js/cubeportfolio/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="~/js/cubeportfolio/main32.js"></script>
    <script src="~/js/aninum/jquery.animateNumber.min.js"></script>
    <script src="~/js/loopslider/jquery.loopslider.js"></script>
    <script>
        $(function () {
            $('#slider').loopSlider({
                autoMove: true,
                mouseOnStop: true,
                turn: 9000,
                motion: 'swing',
                delay: 500,
                width: 750,
                height: 400,
                marginLR: 10,
                viewSize: 100,
                viewOverflow: 'visible',
                navPositionBottom: 30,
                navibotton: true,
                navbtnImage: ''
            });
        });
    </script>
}