@model Task<GECP.Models.Pages.BasicCellDetailsPageModel>
@{
    ViewBag.Title = "Ssip";
}

<div class="page_title3">
    <div class="container">

        <h1>
            Student Startup Innovation Program<em>Government Engineering College</em>

        </h1>
        <div class="line"></div>
    </div>
</div>
<div class="clearfix"></div>


<div class="content_fullwidth">
    <div class="featured_section55 animate" data-anim-type="fadeIn" data-anim-delay="100">
        <div class="container">

            <h2 class="caps">About SSIP Cell</h2>

            <br /><br />

            <div class="one_third">

                <h4 class="color3 margin_bottom2">SSIP Cell</h4>
                <p class="bigtfont">
                    @Model.Result.BasicCellDetailsModel.description
                </p>

            </div>
            <!-- end section -->

            <div class="one_third">

                <img src="@Model.Result.BasicCellDetailsModel.image" alt="" width="358.6" height="199.783">

            </div>
            <!-- end section -->

            <div class="one_third last">

                <h4 class="color3 margin_bottom2">GECP Measure</h4>
                <p class="bigtfont">
                    @Model.Result.BasicCellDetailsModel.measure
                </p>

            </div>
            <!-- end section -->

        </div>
    </div>
</div>
<!-- end featured section 55 -->
<div class="margin_top2"></div>
<div class="featured_section14">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="~/images/icon-img13.png" alt="" />
            <br /><br />
            <h3 class="white">Vision</h3>

            <p>@Model.Result.vissionMissionModel.Vision</p>
            <br /><br />


        </div>
        <!-- end section -->

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="~/images/icon-img12.png" alt="" />
            <br /><br />
            <h3 class="white">Mission</h3>

            <p>@Model.Result.vissionMissionModel.Mission</p>
            <br /><br />


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 14 -->

<div class="featured_section19">
    <div class="container">

        <div class="who animate" data-anim-type="fadeInLeft" data-anim-delay="400"><img src="~/images/site-img16.png" alt="" /></div>

        <div class="text animate" data-anim-type="fadeIn" data-anim-delay="500">

            <h1>SSIP Cell Head Message</h1>

            <p>
               @Model.Result.MsgCmtModel.Message </p>
            <h2>Darin Matthew.</h2>

        </div>

    </div>
</div>
<!-- end featured section 19 -->

<div class="parallax_section10">
    <div class="container">
        <div class="featured_section13">

            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                Committee Members

            </h1>
        </div>
        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <img src="~/images/peop-img37.jpg" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Mark Johnson</strong></a></h5>
            <p>Co-ordinator</p>


        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInLeft" data-anim-delay="100">

            <img src="~/images/peop-img38.jpg" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Marie Jalin</strong></a></h5>
            <p>Convorner</p>


        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeInRight" data-anim-delay="100">

            <img src="~/images/peop-img39.jpg" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Gaige Leroy</strong></a></h5>
            <p>SupportingMember</p>


        </div>
        <!-- end section -->

        <div class="one_fourth last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <img src="~/images/peop-img40.jpg" alt="" />
            <h5 class="roboto caps"><a href="#"><strong>Carla Larissa</strong></a></h5>
            <p>Supporting Member</p>


        </div>
        <!-- end section -->

    </div>
</div>
<!-- end parallax section 10 -->

<div class="featured_section10">
    <div class="container">

        <div class="featured_section13">

            <h1 class="title22 animate" data-anim-type="fadeIn" data-anim-delay="100" style="color: white;">
                Best Student Projects

            </h1>
        </div>

        <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="300">
            <div class="pricingtable9">

                <h3>College Website</h3>
                <strong>$4</strong>
                <b>/project</b>

                <br /><br />


                <span>

                    <i class="fa fa-check"></i>Computer<br />
                    <i class="fa fa-check"></i>Semester 7<br />
                    <i class="fa fa-check"></i> Jagruti Meniya<br />
                    <i class="fa fa-check"></i> Dhaval Darji<br />
                    <i class="fa fa-check"></i> Tarushi Jauhari<br />


                </span>

            </div>
        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="400">
            <div class="pricingtable9">

                <h3>soloar panel</h3>
                <strong>$8</strong>
                <b>/project</b>

                <br /><br />


                <span>

                    <i class="fa fa-check"></i>Computer<br />
                    <i class="fa fa-check"></i>Semester 7<br />
                    <i class="fa fa-check"></i> Jagruti Meniya<br />
                    <i class="fa fa-check"></i> Dhaval Darji<br />
                    <i class="fa fa-check"></i> Tarushi Jauhari<br />


                </span>


            </div>
        </div>
        <!-- end section -->

        <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="500">
            <div class="pricingtable9">

                <h3>Covid19</h3>
                <strong>$27</strong>
                <b>/projects</b>

                <br /><br />


                <span>

                    <i class="fa fa-check"></i>Computer<br />
                    <i class="fa fa-check"></i>Semester 7<br />
                    <i class="fa fa-check"></i> Jagruti Meniya<br />
                    <i class="fa fa-check"></i> Dhaval Darji<br />
                    <i class="fa fa-check"></i> Tarushi Jauhari<br />


                </span>


            </div>
        </div>
        <!-- end section -->

        <div class="one_fourth last animate" data-anim-type="fadeIn" data-anim-delay="600">
            <div class="pricingtable9">

                <h3>Robotics</h3>
                <strong>$45</strong>
                <b>/project</b>

                <br /><br />


                <span>

                    <i class="fa fa-check"></i>Computer<br />
                    <i class="fa fa-check"></i>Semester 7<br />
                    <i class="fa fa-check"></i> Jagruti Meniya<br />
                    <i class="fa fa-check"></i> Dhaval Darji<br />
                    <i class="fa fa-check"></i> Tarushi Jauhari<br />


                </span>


            </div>
        </div>
        <!-- end section -->

    </div>
</div>
<!-- end featured section 10 -->
<!-- end works section -->
<!-- <div class="margin_top2"></div> -->

<div class="featured_section38">
    <div class="container">

        <h1 class="animate" data-anim-type="fadeIn" data-anim-delay="200">“The best way to have a good Idea <b>is to have a alot of idea.” ...</b></h1>


    </div>
</div>



<a href="#" class="scrollup">Scroll</a>
<!-- end scroll to top of the page-->
